body {
    font-family : Arial, sans-serif;
    width : 320px;
    padding : 10px;
    background : #f9f9f9;
}

hl {
font-size : 16px;
text-align : center;
}

canvas {
    margin-top : 10px;
}